version: "3"
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - web
    restart: always

  core:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: core
    command: sh -c "python3 manage.py migrate && gunicorn core.wsgi:application --bind 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - .:/core
    restart: always

  web:
    build:
      context: ../../UnivParking_FE  # Corrected the context path
      dockerfile: Dockerfile
    container_name: nextjs-app
    ports:
      - "3000:3000"
    restart: always
